body {
    margin: 0 !important;
    padding: 0 !important;
    background: url('images/bg.jpg') repeat fixed center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell.ttf');
}
#centerer,
#centerer2 {
    display: flex;
    max-height: 50%;
    align-items: center;
    justify-content: center;
}
.box {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    -webkit-transition: 0.3s ease-out; 
            transition: 0.3s ease-out;
    z-index: 5;
}
.box:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.box img {
    margin-bottom: -5px;
    width: 100%;
    height: 100%;
}

#home {
    position: absolute;
    top: 3%;
    left: 2%;
    opacity: 0.5;
    font-size: 32px;
    color: white;
    margin: 0;
    -webkit-transition: 1s ease-out; 
            transition: 1s ease-out;
}
#home:hover {
    opacity: 1;
}
#home a {
    text-decoration: none;
    color: white;
}

#multi-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: rgba(0,0,0,0.85);
    z-index: 10;
    visibility: hidden;
}
#multi-wrap img {
    max-height: 95vh;
    max-width: 95vw;
}


/* --- MENU --- */

#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
    opacity: 0.7;
    visibility: visible;
}

/* appearance*/
#menu {
    position: relative;
    padding: 13px;
    color: #7D7D7D;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: black;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
ul, li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
.fa {
    color: #7D7D7D;
    opacity: 0.5;
    font-size: 50%;
}
.fa:hover,
.fa:focus {
    color: white;
}

/* --- PRE-LOADER (cf. style.js)--- */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    background: url('images/logo2.png') no-repeat;
    background-size: 50vh auto;
    height: 50vh;
    margin: -25vh 0 0 -25vh;
    z-index: 1500;
}
#loader img {
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;
}

#loader-wrapper .loader-section {
    position: fixed;
    left: 0;
    width: 100%;
    height: 51%;
    background: #181818;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    top: 0;
}
#loader-wrapper .loader-section.section-right {
    bottom: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out; 
            transition: all 0.5s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateY(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(100%);  /* IE 9 */
    transform: translateY(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.5s 0.5s ease-out; 
            transition: all 0.5s 0.5s ease-out;
}
.loaded #loader-wrapper {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
 
        -webkit-transition: all 0.5s 1s ease-out; 
                transition: all 0.5s 1s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

/* and in case js isn't enabled... */
.no-js #loader-wrapper {
    display: none;
}