html
  body
    #menu.js-menu
      a(href='/home/About')#menu-icon.js-toggle ≡
    #flex-display
      #centerer
        #polpo.box.js-box.js-polpo
          img(src='/assets/images/polpo.jpg')
        #medusa.box.js-box.js-medusa
          img(src='/assets/images/medusa.jpg')
        #sirena.box.js-box.js-sirena
          img(src='/assets/images/sirena.jpg')
        #ippo.box.js-box.js-ippo
          img(src='/assets/images/ippocampo.jpg')
        #lepisma.box.js-box.js-lepisma
          img(src='/assets/images/lepisma.jpg')
        #pesce.box.js-box.js-pesce
          img(src='/assets/images/pesce.jpg')
        br
      #multi-wrap.js-wrap
        a#image-close.js-close ×