* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body{
	overflow: hidden;
}

html {
	font: 100%/1.5 $font;
}

body {
	&.is-loaded {
		footer{
			opacity: 1;
		}
	}
}

/* ------
Structure
------ */

#centerer,
#centerer2 {
    display: flex;
    max-height: 50%;
    align-items: center;
    justify-content: center;
}
@-moz-document url-prefix() {
    #centerer,
    #centerer2 {
        margin: 2% 0;
    }
}

.box {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    -webkit-transition: 0.3s ease-out; 
            transition: 0.3s ease-out;
    z-index: 5;
}
.box:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.box img {
    margin-bottom: -5px;
    width: 100%;
    height: 100%;
}

#home {
    position: absolute;
    top: 3%;
    left: 2%;
    opacity: 0.5;
    font-size: 32px;
    color: white;
    margin: 0;
    -webkit-transition: 1s ease-out; 
            transition: 1s ease-out;
}
#home:hover {
    opacity: 1;
}
#home a {
    text-decoration: none;
    color: white;
}

#multi-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: rgba(0,0,0,0.85);
    z-index: 10;
    visibility: hidden;
}
#multi-wrap img {
    max-height: 95vh;
    max-width: 95vw;
}

/* -----
View
----- */
.page-view {
	@include fixed();
	@include size(100%,100%);

	.page {
		@include fixed();
		@include size(100%,100%);
		@include hidden();
		text-align: center;
		transform: translate3d(0,-100px,0);
	}
}

/* -----
Utils
----- */
.vertical-center {
	display: table;
	position: relative;
	@include size(100%,100%);
	
	.vertical-el {
		display: table-cell;
		vertical-align: middle
	}
}