a {
	color: $black;
	text-decoration: underline;

	&:hover {
		color: $base;
	}
}

ul {
	list-style-type: none;
}

p {
	font: $px14/$px25 $font;
}

h1 {
    color: #C6C6C6;
    text-align: center;
    font-size: 1em;
}