html
  body
    #flex-display
      #centerer
        #polpo.box.js-box.js-polpo
          img(src='/assets/images/polpo.jpg')
        #medusa.box.js-box.js-medusa
          img(src='/assets/images/medusa.jpg')
        #sirena.box.js-box.js-sirena
          img(src='/assets/images/sirena.jpg')
        #ippo.box.js-box.js-ippo
          img(src='/assets/images/ippocampo.jpg')
        #lepisma.box.js-box.js-lepisma
          img(src='/assets/images/lepisma.jpg')
        #pesce.box.js-box.js-pesce
          img(src='/assets/images/pesce.jpg')
        br
      #multi-wrap.js-wrap
        a#image-close.js-close ×
      #profile-wrap
        a#contact-close ×
        h1 Ludovica Schiariti
        p
          | Find me on 
          a(href='https://www.facebook.com/profile.php?id=100011256067635') Facebook
          | !
          br
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js')
      script(src='style.js')
