html
  body
      #centerer
        #polpo.box
          img(src='/assets/images/polpo.jpg')
        #medusa.box
          img(src='/assets/images/medusa.jpg')
        #sirena.box
          img(src='/assets/images/sirena.jpg')
      #centerer2
        #ippo.box
          img(src='/assets/images/ippocampo.jpg')
        #lepisma.box
          img(src='/assets/images/lepisma.jpg')
        #pesce.box
          img(src='/assets/images/pesce.jpg')
        br
      #home
        a#toggle(href='#menu')
          span
        #menu
          ul
            li
              a#contact(href='#')
                i.fa.fa-envelope-o(aria-hidden='true')
            li
              a(href='../')
                i.fa.fa-angle-double-left(aria-hidden='true')
      #multi-wrap
        a#image-close ×
      #profile-wrap
        a#contact-close ×
        h1 Ludovica Schiariti
        p
          | Find me on 
          a(href='https://www.facebook.com/profile.php?id=100011256067635') Facebook
          | !
          br
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js')
      script(src='style.js')
